CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
.vscode
include/tl/functions.h
include/tl/types.h
src/tl/functions.cpp
src/tl/TLObject.cpp
src/tl/types.cpp
test